# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MyPlatform.iml
# Datasource local storage ignored files
/../../../../../../:\Unity\MyPlatform\.idea\.idea.MyPlatform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
